@import './settings.scss';
.about{
    text-align: justify;
    position: relative;
    &__content{
        font-size: $medium;
        &--highlight{
            position: relative;
            padding-bottom: 10%;
        }
        &--highlight::after{
            position: absolute;
            content: "";
            width: 100vw;
            height: 100%;
            background-color: $highlight1;
            top: 0;
            left: -35%;
            z-index:-1;
        }
    }
}

.quote{
    background-color: white;
    padding: 10px;
    width: 40%;
}