@import './settings.scss';
.button{
    font-size: $medium;
    border-radius: 50px;
    padding: 5px 15px;
    font-family: $impact;
    &__head{
        position: absolute;
        z-index: 5;
        bottom: 100px;
        left: 8%;
        border: $buttonColor solid 3px;

        &:hover{
            transform: scale(1.1);
        }
    }
    &__therapy{
        color: $buttonTextColor;
        margin-left: 8.3%;
        background-color: $buttonColor;
        width: fit-content;
        &--middle{
            position: absolute;
            bottom: -5%;
            left: 40%;
            transform: translate(-50%, -50%);
            &::after{
                content: "";
                width: 100vw;
                height: 100px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateX(-50%);
                background-color: blue;
            }
        }
    }
}