@import './settings.scss';
.button{
    font-size: $medium;
    border-radius: 50px;
    padding: 5px 15px;
    &__head{
        position: absolute;
        z-index: 5;
        bottom: 100px;
        left: 8%;
        border: $buttonColor solid 3px;

        &:hover{
            transform: scale(1.1);
        }
    }
    &__therapy{
        color: $buttonTextColor;
        margin-left: 8.3%;
        background-color: $buttonColor;
        width: fit-content;
    }

}