
/* Fonts */
$impact: 'Oswald';
$accent: 'Playfair Display';
$content: 'Montserrat';

/* Font Sizes */
$xlarge: 60px;
$large: 40px;
$medium: 26px;
$small: 16px;

/* Colors */
$impactColor: #DCE5F6;
$accentTextColor: white;
$headerOverlay: rgba(0, 0, 0, 0.3);
$buttonColor: #EFBB7E;
$highlight1: #EFBB7E;
